
body {
  padding-top: 70px;
}

.copyright{
      color: white;
}
.owner{
  margin-left: 650px;
  color: #fff;
}
.pages{
  margin-left: 20px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.page{
  margin-left: 470px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.NB{
  position: fixed;
  border-bottom: 4px solid rgb(255, 170, 0);
}
.hero{
  height: 710px;
}
.hero1{
  position: absolute;
  top: 320px;
  left: 350px;
  width: 540px;
}
#button{
  border-radius: 70px;
  font-size: 20px;
  background-color:rgba(255, 170, 0, 0.088) ;
  border: 3px solid rgb(255, 170, 0);
}
.para{
  font-size: 19px;
}
.heading{
  text-align: center;
}
.painting1{
  height: 5px;
  width: 330px;
}
.para1{
  text-align: center;
  font-size: larger;
  margin-left: 11%;
  margin-right: 11%;
  color: rgba(90, 54, 7, 0.514);
}
.square{
  width: 23%;
  height: 280px;
  border: 3px solid rgb(255, 170, 0) ;
  border-radius: 8px;
}
#square1{
  width: 260px;
  height: 300px;
  margin-left: 6%;
  border:3px solid rgb(255, 170, 0)  ;
}
#para2{
  font-size: 30px;
  text-align: center;
}
#img{
  width: 30%;
  margin-top: 45%;
  margin-left: 33%;
}
.flex{
  display: flex;
}
#square2{
  width: 260px;
  height: 300px;
  margin-left: 2%;
  border:3px solid rgb(255, 170, 0)  ;
}
#button1{
  border-radius: 70px;
  font-size: 20px;
  background-color:rgba(255, 170, 0, 0.088) ;
  border: 3px solid rgb(255, 170, 0);
  margin-left: 45%;
}
.hero2{
  width: 100%;
  height: 320px;
}
.about{
  position: absolute;
  top: 40%;
  left: 40%;
  color: #fff;
  font-size: 80px;
}
.paint3{
  width: 100%;
}
.text1{
  margin-left: 34%;
  color: burlywood;
  font-weight: 470;
}
.input{
  width: 46%;
}
.flex{
  display: flex;
}